.Rproj.user
.Rhistory
.RData
.Ruserdata
compareGRFs/.DS_Store
dataraw/.DS_Store
dataraw/force_Raw/.DS_Store
dataraw/.DS_Store
.RData
.Rhistory
compareGRFs/.DS_Store
.DS_Store
compareGRFs/.DS_Store
data/.DS_Store
compareGRFs/.DS_Store
.DS_Store
.RData
.RDataTmp
.RData
.RData
